external-API/fastGo-external-system/src/main/mule/global/fastGo-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastGo-externalsystemFlow" doc:id="daaa303a-2111-45ea-9745-878acb4b1bcc" >
		<http:listener doc:name="Listener" doc:id="da72606e-f67c-40b0-bfc5-5f8908c3bbb6" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.payload default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="a59dcc46-b32e-4a66-b8bb-1814d1f2a572">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="InputLogger" doc:id="f83e50be-44e8-4b8b-8230-0c7064469340" message="get method called for Fast Go with Transaction Id : #[vars.transactionId] and Service Type : #[vars.serviceType]"/>
		<choice doc:name="Choice" doc:id="07e0b5da-230c-4e17-a0e3-8be2226d920d" >
			<when expression='#[vars.serviceType == "route"]'>
				<logger level="INFO" doc:name="Logger" doc:id="0639b290-b598-46a3-a239-446d943e8777" message="get method called for Fast Go Route with Transaction Id : #[vars.transactionId] and Service Type : #[vars.serviceType]"/>
				<flow-ref doc:name="Flow Reference" doc:id="a54dd8a1-b0a4-4e40-9a55-3da39af87b56" name="getRoutes-FastGo-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedule"]'>
				<logger level="INFO" doc:name="Logger" doc:id="ad83b17a-bf77-42da-8342-f61f41f89372" message="get method called for Fast Go Schedule with Transaction Id : #[vars.transactionId] and Service Type : #[vars.serviceType]"/>
				<flow-ref doc:name="Flow Reference" doc:id="7df95baf-298c-4e30-b2e3-225ee2bf4484" name="getSchedule-FastGo-ImplementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="75668122-5a43-4489-9501-9afcec3eb8ca" message="get method called for Fast Go with inavlid ServiceType"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Output-Logger" doc:id="fdfb0e74-3a36-48c8-b0dc-eb6e978abf9f" message="#[payload]"/>
		<error-handler>
	    <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate">
	        <logger level="ERROR" doc:name="Logger" message="Invalid Service Type "/>
				<ee:transform doc:name="Transform Message" doc:id="0c683ad6-3d87-4bb3-b05f-51a57d12fd23" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
404]]></ee:set-variable>
						<ee:set-variable variableName="payload" ><![CDATA[%dw 2.0
output application/json
---
{
	"errorCode" : "XE1023",
	"errorMessage" : "Error in Fast Go system" 
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
	    
</on-error-propagate>
		</error-handler>

	</flow>
</mule>
